 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 861px;
}

.u-section-1 .u-text-1 {
  text-shadow: 2px 2px 8px rgba(0,0,0,0.4);
  margin: 20px auto 0 406px;
}

.u-section-1 .u-image-1 {
  width: 426px;
  height: 256px;
  margin: 20px auto 0 331px;
}

.u-section-1 .u-text-2 {
  font-size: 1.875rem;
  margin: 20px 0 60px;
}

@media (max-width: 1199px) {
  .u-section-1 .u-text-1 {
    margin-left: 335px;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-text-1 {
    margin-left: 257px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 294px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-text-1 {
    margin-left: 193px;
  }

  .u-section-1 .u-image-1 {
    margin-left: 114px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 809px;
  }

  .u-section-1 .u-text-1 {
    margin-left: 122px;
  }

  .u-section-1 .u-image-1 {
    width: 340px;
    height: 204px;
    margin-left: 0;
  }
}